/Standalone_Script/env/*
/Standalone_Script/poppler/*
/Standalone_Script/test.ipynb
/Standalone_Script/textract.json
/Standalone_Script/__pycache__/*

/WebApp/flask/env/*
/WebApp/flask/helper/poppler/*
/WebApp/flask/helper/__pycache__/*
/WebApp/flask/aws.config
